snippet br "Description" i
<br>
endsnippet

snippet hr "Description" i
<hr>
endsnippet

snippet img "Description" i 
<img src="../content/images/$1" alt="">
endsnippet

snippet imgp "Description" i
<img src="http://placehold.it/200X200" alt="">
endsnippet

snippet cont "Description" i
<div class="container">
	<div class="row">
		$1
	</div>
</div>
endsnippet
