snippet url "Description" i
url(../images/$1)
endsnippet

snippet rgba "Description" i
rgba(255,255,255,0.8);
endsnippet

snippet w "Description" i
width: $1;
endsnippet

snippet h "Description" i
height: $1;
endsnippet

snippet br "Description" i
border-radius: $1;
endsnippet

snippet fs "Description" i
font-size: $1;
endsnippet
